@media (min-width: 682px) { 
  #divHeaderFlex {
    display:flex;
    flex-direction: row;
  }
}
main{
  height: 100%;
}
body {
  background-color: #ccdbdc;
}
div {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
hr{
  padding: 0;
}
a {
  text-decoration: none;
  color: #003249;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
  color: #80ced7;
}
.form-custom {
  padding: 2rem;
  border-radius: 10px;
  background-color: #ccdbdc;
  box-shadow: 3px 3px 8px 3px #003249;
}
.footer {
      background: #80ced7;
      bottom: 0;
      width: 100%;
}
.formContainerDiv {
  position: relative;
  margin: auto;
  width: 50%;
  height: 50vh;
}
.logo{
    height: 25px;
    width: 30px;
}
.customBtn{
    border: black 0.1px solid;
    border-radius: 4px;
    background: #007ea7;
    width: 37px;
    height: 37px;    
}
.listBtn{
      border: black 0.1px solid;
        border-radius: 4px;
        background: #007ea7;
        width: 40px;
        height: 40px;
}
.listBtn:hover {
    background: #80ced7;
}
.customBtn:hover {
    background: #80ced7;
}
.alertdiv{
  color:red;font-size: 1rem;
}
[id^="imgGallery"]:hover,
[id^="imgList"]:hover{
  cursor: pointer ;
}
.imgExp{
  box-shadow: 3px 3px 8px 3px #003249;
}
.customCard,.customCard li{
  background-color: #ccdbdc;
  box-shadow: 3px 3px 8px 3px #003249;
}
#imageDetailimg{
  box-shadow: 3px 3px 8px 3px #003249;
}
#imageUrl{
  font-size: 0.8rem;
} 
.imgList{
  width: 84px;
  height:56px ;

}